<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>POSTING</title>
    <link href="https://fonts.googleapis.com/css?family=Maiden+Orange|Noto+Sans+KR&display=swap" rel="stylesheet">
    <style type="text/css">

        .row1 {
            text-align: center;
            border: 1px ridge gray;
            width: 30%;
            height: 25px;

        }

        .row2 {
            text-align: left;
            border: 1px ridge gray;
            width: 30%;
            height: 200px;

        }

        h3{
            color:darkblue;
        }

        .row{
            justify-content: center;
            display: flex;
        }


        .card-2{
            margin-left: 8%;
        }





    </style>

</head>
    <body>

    <br><br><br><br>
    <center>
        <p> <h3>-Title-<h3><h4><div class="row1"> {{ object.title }}</div> </h4> <p><br>
        <p> <h3>-Content-<h3><h4><div class="row2">{{ object.content }}</div></h4><p>
    </center>
            <br>

    <center>
        <div class="row">
            <div class="card-1">
            <a href="{% url 'bulletin:update' pk=object.id %}">
                <button type="button" class="btn btn-outline-update">수정하기</button>
            </a></div>

            <div class="card-2">
            <a href="{% url 'bulletin:delete' pk=object.id %}">
                <button type="button" class="btn btn-danger">삭제하기</button>
            </a></div>
        </div>

    </center>


    </body>
</html>