<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <title>bulletin</title>
        <link rel="stylesheet" href="./css/list_css.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div>dddd</div>
        <h1>likelion 7th 질문게시판</h1>
        <div>
            <a href="{% url 'bulletin:add' %}">글쓰기</a>
            <table class="table table-striped" style="width:1000px">
                 <thead>
                    <th>#</th>
                    <th>제목</th>
                    <th>내용</th>
                    <tH>시간</tH>
                 </thead>

                 {% for list in object_list %}

                 <tr>
                    <td>{{ list.id }}</td>
                    <td>{{ list.title }}</td>
                    <td>
                        {{ list.summary }}
                        <a href="{% url 'bulletin:detail' pk=list.id %}">...more</a>
                    </td>
                    <td>

                        {{ list.created_at }}
                    </td>
                 </tr>


                 {% endfor %}
            </table>
        </div>
    </body>
</html>

