<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>

        {{ object.title }}
        {{ object.content }}
        <br><br><br>
        <div>
            <a href="{% url 'bulletin:update' pk=object.id %}">
                <button type="button" class="btn btn-default btn-lg active">수정하기</button>
            </a>

            <a href="{% url 'bulletin:delete' pk=object.id %}">
                <button type="button" class="btn btn-default btn-lg active">삭제하기</button>
            </a>
        </div>


    </body>
</html>