<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>bulletin</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    </head>
    <body>
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" value="삭제">
        </form>
    </body>
</html>